## TYPO3 v4
# Ignore serveral upload and file directories.
/fileadmin/user_upload/
/fileadmin/_temp_/
/uploads/
# Ignore additional config which overrides typo3 config.
/typo3conf/AdditionalConfiguration.php
# Ignore system folders, you should have them symlinked.
# If not comment out the following two entries.
/typo3
/t3lib
# Ignore temp directory.
/typo3temp/
.project
